@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;
}
body {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE */
  user-select: none; /* Standard syntax */
}
